<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
  <h1>Books</h1>
  <ul>
    <li v-for="book in books">
      {{book.isbn}} - {{book.title}} - {{book.author}} - {{book.pubDate}}
      <button @click="updateBook(book.isbn)">Update</button>
      <button @click="deleteBook(book.isbn)">Delete</button>
    </li>
  </ul>

  <h4>Add new book</h4>
  <input id="isbn" type="text" value="" v-model="isbn" />
  <input id="title" type="text" value="" v-model="title" />
  <input id="author" type="text" value="" v-model="title" />
  <input id="pubDate" type="text" value="" v-model="title" />
  <button @click="saveBook">Save</button>
</div>


<script lang="vue">
var app = new Vue({
  el: '#app',
  data: {
    books: null,
    isbn: '',
    title: ''
  },
  mounted () {
    this.fetchBooks();
  },
  methods: {
    fetchBooks: function() {
      axios.get('/books')
         .then(response => (this.books = response.data))
    },
    saveBook: function() {
      this.ajaxRequest = true;
      axios.post('/books', {
        isbn: this.isbn,
        title: this.title,
        author: this.author,
        pubDate: this.pubDate
      })
      .then(function (response) {
        console.log(response);
        app.fetchBooks();
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    deleteBook: function(id) {
      axios.delete('/books/' + id)
      .then(function (response) {
        console.log(response);
        app.fetchBooks();
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    updateBook: function(id) {
      axios.put('/books/' + id)
      .then(function (response) {
        console.log(response);
        app.fetchBooks();
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  }
})
  </script>
</body>
</html>
